body {
    background: url("../img/bg01.jpg");
    color: #F0EBE3;
    display: grid;
    grid: auto / auto;
}

.back {
    font-family: "DIN Condensed";
    font-size: small;
    color: #FFC286;
}

@font-face {
    font-family: 'shortbread___cookiesregular';
    src: url('../fonts/shortbread-cookies-webfont/shortbread_cookies-reg-webfont.woff2') format('woff2'),
         url('../fonts/shortbread-cookies-webfont/shortbread_cookies-reg-webfont.woff') format('woff'),
         url('../fonts/shortbread-cookies-webfont/Shortbread_Cookies-Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Copperplate';
    src: url('../fonts/copperplate-package/Copperplate.woff2') format('woff2'),
         url('../fonts/copperplate-package/Copperplate.woff') format('woff'),
         url('../fonts/copperplate-package/Copperplate.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raigen Blues';
    src: url('../fonts/raigen-blues-package/RaigenBlues.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: "shortbread___cookiesregular", "Copperplate";
    font-size: xxx-large;
    margin-bottom: 5px;
}

#date {
    font-family: "Copperplate";
}

/*the form*/
p {
    font-family: "Raigen Blues", "Copperplate";
    font-size: large;
}

.inputbox {
    font-family: "Raigen Blues", "Copperplate";
    font-size: large;
    background-color: white;
    color: black;
    width: 33%;
    height: 15%;
}

/*the submit button*/
input[type=submit] {
    visibility: hidden;
    height: 0px;
    padding: 0px;
    margin-bottom: 0;
}

.header-2 {
    margin-top: 0;
}

/* each to-do item INCLUDING CHECKBOX, BUTTON AND DEADLINE. */
li {
    font-size: large;
    position: sticky;
    /*padding: 1%;*/
    height: 33px
}

/*button % deadline*/
.time-remaining, .deadline-button {
    position: sticky;
    top: -10px;
    align-items: center;
}

/*button*/
.deadline-button {
    font-family: "DIN Condensed";
    font-size: small;
    color: #EA4C4C;
    background-color: #E4DCCF;
    margin-bottom: 10%;
}

/*deadline*/
.time-remaining {
    font-family: "Copperplate";
    font-size: medium;
    margin-bottom: 15%;
}

/*checkbox*/
input[type=checkbox] {

}

/*last updated*/
.time-since {
    font-family: "DIN Condensed";
    font-size: small;
}

#updated-at {
    position: sticky;
    margin-top: 20%;
}

